{{#each this}}
<li class='container'>

    <h2 class="title">{{name}}</h2>
    <div class="box">
        <div class="description">
            <p><b>Capital:</b> {{capital}}</p>
            <p><b>Population:</b> {{population}}</p>
            <ul><b>Languages:</b>
                {{#each languages}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <img class="image" src="{{flag}}" alt="flag" width="360px">
    </div>

</li>

{{/each}}